node_modules
npm-debug.log
.DS_Store
.settings
.project
*.pyc
*.komodoproject

PruebasBlockly/Blockly/blockly/js/acorn_interpreter.js

PruebasBlockly/Blockly/blockly/js/acorn.js

PruebasBlockly/Blockly/blockly/js/Blob.js
