html,body{
	height:100%;
	background-color:#F1F1F1;
}
canvas {
  background: #fff;
  height: 91%;
  width: 100%;
  /*margin-top :  10%;
  height :  70%;*/
}
#divCanvas .md-tab {
  color: #CFD8DC; 
  /*color: #26C6DA; */
}

#divCanvas .md-active{
  color: #26C6DA; 
}

#divCanvas{
	position :  relative ;
	/* top :  -10vh ;*/
	 top :  4vh ;
	 z-index :  4 ; 
	 height :  70vh;
	 /*height :  90vh;*/
}

.md-dialog-content .md-active {
	color: #26C6DA; 
}
p {
text-align : justify;
}

#thumbnail {
	height: auto;
	/*height: 30vh;*/
	padding-left: 35%;
}
@-moz-document url-prefix() {
    #thumbnail {
		/*height: auto;*/
		height: 24vh;
		padding-left: 30vw;
	}
}
#maintoolbar{
	/*background: linear-gradient(#D1C4E9, #EDE7F6); */
	/*background-color:#EDE7F6;*/
	position: relative;
	top: 3vh;

	background-color:#F1F1F1;
	color: #607D8B;
}

#publishB{
	position: relative;
	top: 6vh;
	margin-left: 44vw;
	z-index: 5;
	height: 0%;
}
#divbotones{
	position: relative;
	/*top: -99%;*/
	z-index: 5;
	height: 0%;
}
@-moz-document url-prefix() {
   #divbotones{
		position: relative;
		/*top: -60vh;*/
		z-index: 5;
		height: 0%;
	}
}
@-moz-document url-prefix() {
   #divbotones2{
		/*position: absolute;*/
		/*left:45vw;*/
	}
}
@-moz-document url-prefix() {
   #divbotones3{
		/*position: absolute;*/
		/*left:45vw;*/
	}
}
#divbotones2{
	/*position: absolute;*/
	/*left:40vw;*/
}
#divbotones3{
	/*position: absolute;*/
	/*left:35vw;*/
}
#publishwindow{
	width: 40vw;
}

#blocklyArea{
	/*background-color: #EDE7F6;*/
	background-color:#F1F1F1;
	/*background: linear-gradient(#EDE7F6, #fff); */
}
#blocklyDiv{
	position: relative;
	top: 3vh;
	/*background-color: #EDE7F6;*/
	 /*background: linear-gradient(#EDE7F6, #fff); */
}

