html,body{
	height:100%;
}
canvas {
  background: #fff;
  height: 91.5%;
 width: 100%;
}
#divCanvas .md-tab {
  color: #CFD8DC; 
  /*color: #26C6DA; */
}

#divCanvas .md-active{
  color: #26C6DA; 
}

#divCanvas{
	position :  relative ;
	 top :  -10vh ;
	 z-index :  4 ; 
	 height :  85vh;
}
 .md-dialog-content .md-active {
	color: #26C6DA; 
}
p {
text-align : justify;
}

#thumbnail {
	height: auto;
	/*height: 30vh;*/
	padding-left: 35%;
}
@-moz-document url-prefix() {
    #thumbnail {
		/*height: auto;*/
		height: 24vh;
		padding-left: 30vw;
	}
}
#maintoolbar{
	background-color:#26C6DA;

}
/*#blocklyDiv{
	position: absolute;

}*/
#tabs{
	position: relative;

}
#divbotones{
	position: relative;
	top: -99%;
	z-index: 5;
	height: 0%;
}
@-moz-document url-prefix() {
   #divbotones{
		position: relative;
		top: -71%;
		z-index: 5;
		height: 0%;
	}
}
#divbotones2{
	position: absolute;
	left:40vw;
}
#divbotones3{
	position: absolute;
	left:40vw;
}
#publishwindow{
	width: 40vw;
}



























