<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <!-- lo que blockly necesita -->
  <!-- interprete de JS -->
  <script src="../acorn_interpreter.js"></script>
  <script src="../acorn.js"></script>
  <script src="../interpreter.js"></script>
  <!-- <script src="..//storage.js"></script> -->
  <script src="../blockly_compressed.js"></script>
  <script src="../blocks_compressed.js"></script>
  <script src="../javascript_compressed.js"></script>
  <script src="../core/css.js"></script>
  <script src="../core/blockly.js"></script>
  <script src="../msg/js/en.js"></script>
  <script src="../blocks/custom.js"></script>
  <script src="../generators/javascript/custom.js"></script>

  <script type="text/javascript" src="../moves.js"></script>
  <script type="text/javascript" src="../filesaver.js"></script>
  <script type="text/javascript" src="../Blob.js"></script>
  <!-- Funciones comunes para controlar el juego -->
  <script type="text/javascript" src="../controlFunctions.js"></script>
  <!-- agregar bloques de hardware -->
  <script src="../blocks/hardware.js"></script>
  <script src="../generators/javascript/hardware.js"></script>
    <!-- para agregar las librerias del socket -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>


  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
</head>
<body ng-app="Blocklyplay" ng-cloak ng-controller="AppCtrl">
    <!-- header de la pagina -->
    <md-toolbar layout="column" class="md-tall" ng-style="{'background-color':'#26C6DA'}">
      <div class="md-toolbar-tools" layout="row" >
          <div flex layout="row"   layout-align="start center">
            <div>
              <md-button class="md-icon-button" aria-label="Settings">
                <i class="material-icons">keyboard_backspace</i>
              </md-button>
            </div>
            <div>
              <span>kite</span>
            </div>
          </div>
          <div flex layout="row"   layout-align="start center">
            <div>
              <md-button class="md-warn md-raised md-hue-2" ng-style="{'background-color':'#FF4081','color':'white'}" flex="100"  flex-gt-md="auto" ng-click="toggleRight()" >
                Instrucciones 
              </md-button>
            </div>
            <div>
              <span>Dibuja el área de una casa</span>
            </div>
          </div>
      </div>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" >
          <i class="material-icons">code</i>
        </md-button>
        <h4>
          <span>Secuencias y loops</span>
        </h4>
        
      </div>
    </md-toolbar>
    <!-- contenedor de los elementos -->
    <div flex layout="row">
      <!-- Contenedor del toolbox -->
      <div flex="40">
          content
      </div>
      <!-- container donde ira el canvas -->
      <div layout-align="center start" layout="row" flex="60">
        <md-card layout="column" flex="95" ng-style="{'position': 'relative','top': '-70px','z-index': '4'}">
            <md-dialog-content style="max-width:800px;max-height:810px; ">
              <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="one">
                  <md-content class="md-padding">
                    <h1 class="md-display-2">Tab One</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                  </md-content>
                </md-tab>
                <md-tab label="two">
                  <md-content class="md-padding">
                    <h1 class="md-display-2">Tab Two</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                    <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                  </md-content>
                </md-tab>
                <md-tab label="three">
                  <md-content class="md-padding">
                    <h1 class="md-display-2">Tab Three</h1>
                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                  </md-content>
                </md-tab>
              </md-tabs>
            </md-dialog-content>
            <md-dialog-actions layout="row">
              <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                More on Wikipedia
              </md-button>
              <span flex></span>
              <md-button ng-click="answer('not useful')" >
                Not Useful
              </md-button>
              <md-button ng-click="answer('useful')" style="margin-right:20px;" >
                Useful
              </md-button>
            </md-dialog-actions>  
        </md-card>  
      </div>
      <!-- side nav de instrucciones -->
      <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" ng-style="{'background-color':'#0097A7'}" >
        <md-toolbar ng-style="{'background-color':'#0097A7'}" ng-controller="RightCtrl">
          <div class="md-toolbar-tools">
            <h2>
              <span>Instrucciones</span>
            </h2>
            <span flex></span>            
            <md-button class="md-icon-button" ng-click="close()">
              <md-icon><i class="material-icons">close</i></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-content ng-controller="RightCtrl" layout-padding>
        </md-content>
      </md-sidenav>

    </div>
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    angular.module('Blocklyplay', ['ngMaterial'])
      .controller('AppCtrl', function ($scope, $timeout, $mdSidenav, $log) {
        $scope.toggleRight = buildToggler('right');
        $scope.isOpenRight = function(){
          return $mdSidenav('right').isOpen();
        };
        function AppCtrl($scope) {
          $scope.currentNavItem = 'page1';
        }
        function buildToggler(navID) {
          return function() {
            // Component lookup should always be available since we are not using `ng-if`
            $mdSidenav(navID)
              .toggle()
              .then(function () {
                $log.debug("toggle " + navID + " is done");
              });
          }
        }
      })
      .controller('RightCtrl', function ($scope, $timeout, $mdSidenav, $log) {
        $scope.close = function () {
          // Component lookup should always be available since we are not using `ng-if`
          $mdSidenav('right').close()
            .then(function () {
              $log.debug("close RIGHT is done");
            });
        };
      });


      angular.module('navBarDemoBasicUsage', ['ngMaterial'])
      .controller('AppCtrl', AppCtrl);
  
  </script>
  
  
</body>
</html>










