<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <!-- lo que blockly necesita -->
  <!-- interprete de JS -->
  <script src="../acorn_interpreter.js"></script>
  <script src="../acorn.js"></script>
  <script src="../interpreter.js"></script>
  <!-- <script src="..//storage.js"></script> -->
  <script src="../blockly_compressed.js"></script>
  <script src="../blocks_compressed.js"></script>
  <script src="../javascript_compressed.js"></script>
  <script src="../core/css.js"></script>
  <script src="../core/blockly.js"></script>
  <script src="../msg/js/en.js"></script>
  <script src="../blocks/custom.js"></script>
  <script src="../generators/javascript/custom.js"></script>

  <script type="text/javascript" src="../moves.js"></script>
  <script type="text/javascript" src="../filesaver.js"></script>
  <script type="text/javascript" src="../Blob.js"></script>
  <!-- Funciones comunes para controlar el juego -->
  <script type="text/javascript" src="../controlFunctions.js"></script>
  <!-- agregar bloques de hardware -->
  <script src="../blocks/hardware.js"></script>
  <script src="../generators/javascript/hardware.js"></script>
    <!-- para agregar las librerias del socket -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>


  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
</head>
<body ng-app="Blocklyplay" ng-cloak>
    <!-- header de la pagina -->
    <md-toolbar layout="column" class="md-tall" ng-style="{'background-color':'#26C6DA'}">
      <div class="md-toolbar-tools" layout="row" ng-controller="AppCtrl">
          <div flex layout="row"   layout-align="start center">
            <div>
              <md-button class="md-icon-button" aria-label="Settings">
                <i class="material-icons">keyboard_backspace</i>
              </md-button>

            </div>
            <div>
              <span>kite</span>
            </div>
          </div>
          <div flex layout="row"   layout-align="start center">
            <div>
              <md-button class="md-warn md-raised md-hue-2" ng-style="{'background-color':'#FF4081','color':'white'}" flex="100"  flex-gt-md="auto" ng-click="toggleRight()" >
                Instrucciones 
              </md-button>
            </div>
            <div>
              <span>Dibuja el área de una casa</span>
            </div>
          </div>

      </div>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" >
          <i class="material-icons">code</i>
        </md-button>
        <h4>
          <span>Secuencias y loops</span>
        </h4>
        
      </div>
    </md-toolbar>
    <!-- contenedor de los elementos -->
    <div flex layout="row">
      <!-- Contenedor del toolbox -->
      <md-content flex="40" id="content">
        content
      </md-content>
      <md-content flex="60" id="content">
      area del canvas en el whiteframe
      </md-content>
      <!-- side nav de instrucciones -->
      <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">Sidenav Right</h1>
        </md-toolbar>
        <md-content ng-controller="RightCtrl" layout-padding>
          <form>
            <md-input-container>
              <label for="testInput">Test input</label>
              <input type="text" id="testInput"
                     ng-model="data" md-autofocus>
            </md-input-container>
          </form>
          <md-button ng-click="close()" class="md-primary">
            Close Sidenav Right
          </md-button>
        </md-content>
      </md-sidenav>

    </div>
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    angular.module('Blocklyplay', ['ngMaterial'])
      .controller('AppCtrl', function ($scope, $timeout, $mdSidenav, $log) {
        $scope.toggleRight = buildToggler('right');
        $scope.isOpenRight = function(){
          return $mdSidenav('right').isOpen();
        };
        
        
        function buildToggler(navID) {
          return function() {
            // Component lookup should always be available since we are not using `ng-if`
            $mdSidenav(navID)
              .toggle()
              .then(function () {
                $log.debug("toggle " + navID + " is done");
              });
          }
        }
      })
      .controller('RightCtrl', function ($scope, $timeout, $mdSidenav, $log) {
        $scope.close = function () {
          // Component lookup should always be available since we are not using `ng-if`
          $mdSidenav('right').close()
            .then(function () {
              $log.debug("close RIGHT is done");
            });
        };
      });
  </script>
  
  
</body>
</html>










