<div flex="50">
  <md-dialog aria-label="correct answer" id="correct answer">
    <md-dialog-content >
     <form>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Felicidades</h2>
        </div>
      </md-toolbar>
      <md-dialog-content>
        <div class="md-dialog-content">
          <p>Felicidades haz realizado correctamente el puzzle</p>
        </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
          Volver
        </md-button>
        <span flex></span>
        <md-button ng-click="newLevel();">
         Siguiente nivel
        </md-button>
        <md-button ng-click="showPublish($event)" ng-style="{'background-color':'#26C6DA','color':'white'}" md-autofocus>
          Publicar
        </md-button>
      </md-dialog-actions>
    </form>
    </md-dialog-content>
  </md-dialog>
</div>