canvas {
  background: #fff;
  height: 91.5%;
 width: 100%;
}
#divCanvas .md-tab {
  color: #CFD8DC; 
  /*color: #26C6DA; */
}

#divCanvas .md-active{
  color: #26C6DA; 
}

 .md-dialog-content .md-active {
	color: #26C6DA; 
}
p {
text-align : justify;
}

#thumbnail {
	height: auto;
	position: relative;
	left:30%;
}