<md-dialog aria-label="Learn sequences">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Sequences and wait</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Level 1">
          <md-content class="md-padding">
            <!-- <h1 class="md-display-2">Tab One</h1> -->
            <p>I¡Seguimos con las secuencias! Para este ejercicio, desplaza el carrito por la carretera y haz una parada de 3 segundos en cada semáforo. Los bloques de movimiento ya los conoces, para hacer una parada utiliza el bloque Wait que se encuentra en la categoría de Control.</p>
          </md-content>
        </md-tab>
        <md-tab label="Level 2">
          <md-content class="md-padding">
            <h1 class="md-display-2">Tab Two</h1>
            <p>Instrucciones nivel 2</p>
          </md-content>
        </md-tab>
        <md-tab label="Level 3">
          <md-content class="md-padding">
            <h1 class="md-display-2">Tab Three</h1>
            <p>Instrucciones nivel 3</p>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('not useful')" >
        OK!
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>