<md-dialog aria-label="Use your knowledge">
  <form>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <!-- barra de herramienta para poner el close -->
      <md-toolbar ng-style="{'background-color':'#0097A7'}" ng-controller="RightCtrl">
        <div class="md-toolbar-tools">
          <h2>
            <span>Publicar producto</span>
          </h2>
          <span flex></span>            
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon><i class="material-icons">close</i></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <!-- imagen de vista previa -->
      <div id="thumbnail">
       
      </div>
      <!-- inputs del formulario -->
       <div layout="column">
          <!-- titulo del programa -->
          <div></div>
          <!-- si es individual o grupal -->
          <div>
            <div flex-xs flex="50">
              <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                Checkbox 1: {{ data.cb1 }}
              </md-checkbox>
            </div>
            <div flex-xs flex="50">
              <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                Checkbox 1: {{ data.cb1 }}
              </md-checkbox>
            </div>
          </div>
          <!-- comentario -->
          <div></div>
       </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()" >
        OK!
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>