<md-dialog aria-label="Learn Sequences">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Sequences</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Level 1">
          <md-content class="md-padding">
            <!-- <h1 class="md-display-2">Tab One</h1> -->
            <p>¡Aprendamos de secuencias! Utiliza los bloques Move Painting para dibujar el área de la casa, apóyate de los puntos para saber cuántos pasos deberás avanzar mientras pintas, elige el color que más te guste, utiliza el bloque Turn para dar vueltas hacia donde quieras avanzar, para girar hacia cualquier lado utiliza 90 grados, estos bloques se encuentran en la categoría Moves.</p>
          </md-content>
        </md-tab>
        <md-tab label="Level 2">
          <md-content class="md-padding">
            <h1 class="md-display-2">Tab Two</h1>
            <p>Instrucciones nivel 2</p>
          </md-content>
        </md-tab>
        <md-tab label="Level 3">
          <md-content class="md-padding">
            <h1 class="md-display-2">Tab Three</h1>
            <p>Instrucciones nivel 3</p>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('not useful')" >
        OK!
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>